<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calend치rio de Eventos</title>

    <link rel="stylesheet" href="/styles/create-account-page.css">
</head>
<body>
    <section>
        <div class="createAccountPage-title-div">
            <img src="/assets/calendar.png" alt="Calend치rio">
            <h1>Calend치rio de Eventos</h1>
        </div>

        <form name="registrationForm" action="/create-account" method="POST">
            <fieldset class="group-horizontal">
                <div class="campo campo-esquerda">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" value="<%= typeof name != 'undefined' ? name : '' %>" required>
                </div>

                <div class="campo">
                    <label for="last-name">Sobrenome</label>
                    <input type="text" name="lastName" id="lastName"  value="<%= typeof lastName != 'undefined' ? lastName : '' %>"required>
                </div>
            </fieldset>

            <div class="campo">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= typeof email != 'undefined' ? email : '' %>" required>
            </div>

            <fieldset class="group-horizontal">
                <div class="campo campo-esquerda">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" value="<%= typeof password != 'undefined' ? password : '' %>" required>
                </div>

                <div class="campo">
                    <label for="password-confirm">Confirmar Senha</label>
                    <input type="password" name="passwordConfirm" id="password-confirm" value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>" required>
                </div>
            </fieldset>

            <input type="submit" value="Criar" onclick="return validate()" class="button">
        </form>

        <a href="/login">J치 tem cadastro feito? Clique aqui!</a>
    </section>

    <!--<script src="/scripts/form-validation.js"></script>-->
</body>
</html>